#hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    gap: 40px;
    margin-left: 140px;
}

/* LEFT */
#left-section {
    flex: 1;
}

#left-section h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    line-height: 1.2;
}

/* RIGHT */
#right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-img {
    width: 100%;
    max-width: 420px;
    height: auto;
}

#left-section p {
    color: white;
    font-size: 1.43rem;
}


#start-button {
    background-color: #E5BA41;
    color:black; 
    padding: 10px;
    font-size: medium;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    
}

#start-button:hover {
    background-color: rgb(255, 255, 255);
}