#navbar h1 {
    font-size: xx-large;
    color: #E5BA41;
    margin: 10px;
    margin-left: 250px;
    
}

#navbar a{
    text-decoration: none;
    color:#E5BA41 ;
}

#navbar {
    width: 100%;
    height: 20%vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 30px;
}

#nav-links  {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 20px;
}

#nav-links h4 {

    font-size: large;
    color: white;
}


